@import url('https://fonts.googleapis.com/css2? family= Questrial & display=swap');
main{
    background-image:url(coracao.webp) ;
    background-repeat: no-repeat;
    background-position: 50%;
}
.paragrafo{
    background-color: gray;
}

#SegundoH1{
    font-family: 'Questrial', sans-serif;
    
}
article p{
     text-align: center;
     color: blue;
}